<div class="login-container">
  <mat-card class="box">
    <mat-card-header class="header">
      <mat-card-title>Login</mat-card-title>
      <div *ngIf="error$ | async" [ngStyle]="{color:'red'}">{{error$ | async}}</div>
    </mat-card-header>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="authLogin()" [noValidate]="false">
      <mat-card-content class="body">
        <mat-form-field [style.fontSize.px]="14">
          <input matInput id="email" name="email" formControlName="email" placeholder="Email"
            [errorStateMatcher]="matcher" (change)="handleChange()" />
        </mat-form-field>
        <mat-form-field [style.fontSize.px]="14">
          <input matInput type="password" id="password" name="password" formControlName="password" required validation
            placeholder="Password" (change)="handleChange()" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Login</button>
      <div *ngIf="isLoading$ | async">Loading...</div>
    </form>
    <!-- TODO: add register when the app grows -->
    <!-- <a routerLink="register">Register</a> -->
  </mat-card>
</div>
