<div class="login-container">
  <mat-card class="box">
    <mat-card-header class="header">
      <mat-card-title>Login</mat-card-title>
      <p *ngIf="error$ | async">{{error$ | async }}</p>
    </mat-card-header>
    <form class="form" (ngSubmit)="authLogin()" [noValidate]="false">
      <mat-card-content class="body">
        <mat-form-field [style.fontSize.px]="14">
          <input matInput id="email" name="email" [(ngModel)]="login.Email" placeholder="Email"
            [formControl]="emailFormControl" [errorStateMatcher]="matcher" (change)="handleChange()" />
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">Email is <strong>required</strong></mat-error>
        </mat-form-field>
        <mat-form-field [style.fontSize.px]="14">
          <input matInput type="password" id="password" name="password" [(ngModel)]="login.Password" required validation
            placeholder="Password" (change)="handleChange()" />
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="primary" class="btn-block">Login</button>
    </form>
    <!-- TODO: add register when the app grows -->
    <!-- <a routerLink="register">Register</a> -->
  </mat-card>
</div>