<h2 mat-dialog-title>{{title}} Employee</h2>
<mat-dialog-content class="mat-typography">
  <form class="form" [formGroup]="employeeForm" [noValidate]="false">

    <mat-form-field [style.fontSize.px]="14">
      <input matInput type="text" id="firstName" name="firstName" formControlName="firstName" required validation
        placeholder="First Name" />
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <input matInput type="text" id="lastName" name="lastName" formControlName="lastName" required validation
        placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <mat-select placeholder="Choose Role" formControlName="roleID" validation required>
        <mat-option *ngFor="let role of roles | async" [value]="role.roleID">
          {{role.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <input matInput id="email" name="email" placeholder="Email" formControlName="email"
        [errorStateMatcher]="matcher" />
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <input matInput type="password" id="password" name="password" formControlName="password" required validation
        placeholder="Password" />
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <input matInput type="text" id="telNo" name="telNo" [value]="" formControlName="telNo"
        placeholder="Mobile Number" />
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <mat-select placeholder="Choose Manager" formControlName="managerId" validation required>
        <mat-option [value]="0">--None--</mat-option>
        <mat-option *ngFor="let manager of managers | async" [value]="manager.managerId">
          {{manager.employee.firstName}} {{manager.employee.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <mat-select placeholder="Choose Department" formControlName="deptId" validation required>
        <mat-option [value]="0">--None--</mat-option>
        <mat-option *ngFor="let department of departments | async" [value]="department.deptId">
          {{department.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [style.fontSize.px]="14">
      <mat-select placeholder="Choose Status" formControlName="status" validation required>
        <mat-option [value]="true">Active</mat-option>
        <mat-option [value]="false">In-Active</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveEmployee()">Save</button>
</mat-dialog-actions>
